<template>
  <div class="home">
    <app-bar />
    <navigation-drawer />
    <v-main>
      <transition name="slide-fade" mode="out-in">
        <router-view />
      </transition>
    </v-main>
  </div>
</template>

<script>
import AppBar from "@/components/AppBar.vue";
import NavigationDrawer from "@/components/NavigationDrawer.vue";

export default {
  name: "Home",
  components: {
    AppBar,
    NavigationDrawer
  }
};
</script>
