<template>
  <div class="form-register">
    <v-card-text>
      <v-form>
        <v-text-field
          label="username"
          name="username"
          prepend-icon="mdi-account"
          type="text"
          v-model="userInputs.username"
        ></v-text-field>
        <v-text-field
          label="email"
          name="email"
          prepend-icon="mdi-account"
          type="email"
          v-model="userInputs.email"
        ></v-text-field>
        <v-text-field
          id="password"
          label="Password"
          name="password"
          prepend-icon="mdi-lock"
          type="password"
          v-model="userInputs.password"
        ></v-text-field>
        <v-text-field
          id="password-confirm"
          label="Password confirmation"
          name="password-confirm"
          prepend-icon="mdi-lock"
          type="password"
          v-model="userInputs.password_confirmation"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="registerUser">Créer un compte</v-btn>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  name: "FormRegister",
  data: function() {
    return {
      userInputs: {
        username: null,
        email: null,
        password: null,
        password_confirmation: null
      },
      error: null
    };
  },
  methods: {
    registerUser: function() {
      if (
        this.userInputs.email !== null &&
        this.userInputs.username !== null &&
        this.userInputs.password !== null &&
        this.userInputs.password_confirmation !== null
      ) {
        const myInit = {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          mode: "cors",
          cache: "default",
          body: JSON.stringify(this.userInputs)
        };
        fetch("http://localhost:8000/api/v1/register", myInit)
          .then(() => {
            const userData = {
              email: this.userInputs.email,
              password: this.userInputs.password
            };
            this.logUser(userData);
          })
          .catch(err => {
            this.error =
              "Une erreur est survenue dans votre inscription." + err;
          });
      }
    },
    logUser: function(userData) {
      const myInit = {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        mode: "cors",
        cache: "default",
        body: JSON.stringify(userData)
      };
      fetch("http://localhost:8000/api/v1/login", myInit)
        .then(res => res.json())
        .then(Response => {
          const newUserData = {
            username: this.userInputs.username,
            email: this.userInputs.email,
            token: Response.token
          };
          this.setUser(newUserData);
        });
    },
    setUser: function(newUserData) {
      this.$store.dispatch("userSetter", newUserData).then(r => {
        if (r) {
          this.$router.push({ name: "home" });
        } else {
          this.error = "Une erreur est survenue dans l'application.";
        }
      });
    }
  }
};
</script>

<style lang="scss"></style>
