<template>
  <div class="form-login">
    <v-card-text>
      <v-form>
        <v-text-field
          label="email"
          name="email"
          prepend-icon="mdi-account"
          type="email"
          v-model="userInputs.email"
        ></v-text-field>

        <v-text-field
          id="password"
          label="Password"
          name="password"
          prepend-icon="mdi-lock"
          type="password"
          v-model="userInputs.password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="logUser">Se connecter</v-btn>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  name: "FormLogin",
  data: function() {
    return {
      userInputs: {
        email: null,
        password: null
      },
      error: null
    };
  },
  methods: {
    logUser: function() {
      if (this.userInputs.email !== null && this.userInputs.password !== null) {
        const myInit = {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          },
          mode: "cors",
          cache: "default",
          body: JSON.stringify(this.userInputs)
        };
        fetch("http://localhost:8000/api/v1/login", myInit)
          .then(res => res.json())
          .then(Response => {
            const userData = {
              email: this.userInputs.email,
              token: Response.token
            };
            this.setUser(userData);
          });
      } else {
        this.error = "Veuillez remplir les deux champs.";
      }
    },
    setUser: function(userData) {
      this.$store
        .dispatch("userSetter", userData)
        .then(res =>
          res ? this.$router.push({ name: "home" }) : console.log(res)
        )
        .catch(err => (this.error = err));
    }
  }
};
</script>
