<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-center">
        <h1>{{ title }}</h1>
        <router-link :to="{ name: 'portal-Connection' }" tag="a">
          Go to portal connection
        </router-link>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {
      title: "Home Dashboard"
    };
  }
};
</script>
