<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <h1>{{ getUser.username }}</h1>
      <h1>{{ getUser.email }}</h1>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Profil",
  data() {
    return {
      title: "Profil"
    };
  },
  computed: {
    getUser: function() {
      return this.$store.state.user.userData;
    }
  }
};
</script>
