<template>
  <v-layout>
    <v-flex class="text-center">
      <blockquote class="blockquote">
        &#8220;Vous préférez regarder du porno ? Ou coder du porno ?&#8221;
        <footer>
          <small>
            <em>&mdash; La question est vite répondu !</em>
          </small>
        </footer>
      </blockquote>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Scraping"
};
</script>
